<!DOCTYPE HTML>
<!--
  Story by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
  pink: #EC7794
  blue: #2DA7E0
-->
<html>
  <head>
    <title>Fame Collections</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>

    <!-- Wrapper -->
      <div id="wrapper" class="divided">

        <!-- One -->
          <section id="sec0" class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right" style="background: url(/images/bg2.jpg);background-size: cover;">
            <div class="content">
              <h1>
                
                <img src="/images/FT.png" style="width:50%;" />
              </h1>
              <p class="major" style="color: #222;font-weight: 700;">具有網路影響力的你：</p>
              <p class="major" style="color: #222;font-weight: 700;"><span style="color: #EC7794">紛糖</span>幫你打造專屬周邊商品，創造第二筆收益！</p>
              <ul class="actions vertical">
                <li><a href="#sec1" class="button big wide smooth-scroll-middle" style="background: #fff;cursor: pointer;border: 0;">了解更多↓</a></li>
              </ul>
            </div>
            <!-- <div class="image">
              <img src="images/home.jpg" alt="" />
            </div> -->
          </section>

        <!-- Two -->
          <section id="sec1" class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
            <div class="content">
              <h2>設計、生產、網站一手包辦</h2>
              <p>幫你打造專屬你的特色周邊商品<br/>直接生產、架設專屬網站販賣，把貨送到客戶手中！<br/>所有的麻煩事，我們一手包辦！</p>
              <ul class="actions vertical">
                <li><a href="#sec2" class="button big wide smooth-scroll-middle">我能賺到多少？ ↓</a></li>
              </ul>
            </div>
            <div class="image">
              <img src="images/1.png" alt="" />
            </div>
          </section>

        <!-- Three -->
          <section id="sec2" class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
              <h2>我們會給你們更多收益！</h2>
              <p>不像大多的創作平台，將抽走你大部分收益<br/>我們相信創作者才更值得得到回報</p>
              <ul class="actions vertical">
                <li><a href="#sec3" class="button big wide smooth-scroll-middle">還有什麼好處？ ↓</a></li>
              </ul>
            </div>
            <div class="image">
              <img src="images/2.png" alt="" />
            </div>
          </section>
        <!-- Four -->
          <section id="sec4" class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
              <h2>打造專屬你的應援團！</h2>
              <p>「欸你快看！大家都穿上應援T了！<br/>我也要為我的偶像加油打氣！」</p>
              <ul class="actions vertical">
                <li><a href="#sec5" class="button">產品類型 ↓</a></li>
              </ul>
            </div>
            <div class="image">
              <img src="images/3.png" alt="" />
            </div>
          </section>
          <section id="sec5" class="wrapper style1 align-center">
            <div class="inner">
              <h2>多元的產品選擇</h2>
              <p>我們能製作的產品範圍多元！從抱枕、T-Shirt到筆記本、手機殼應有盡有！</p>
            </div>

            <!-- Gallery -->
<!--               <div class="gallery style2 medium lightbox onscroll-fade-in">
                <article>
                  <a href="images/gallery/fulls/01.jpg" class="image">
                    <img src="images/notebook.jpg" alt="" />
                  </a>
                  <div class="caption">
                    <h3>筆記本</h3>
                    <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                    <ul class="actions">
                      <li><span class="button small">Details</span></li>
                    </ul>
                  </div>
                </article>
                <article>
                  <a href="images/gallery/fulls/02.jpg" class="image">
                    <img src="images/hug.jpg" alt="" />
                  </a>
                  <div class="caption">
                    <h3>抱枕</h3>
                    <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                    <ul class="actions">
                      <li><span class="button small">Details</span></li>
                    </ul>
                  </div>
                </article>
                <article>
                  <a href="images/gallery/fulls/03.jpg" class="image">
                    <img src="images/gallery/thumbs/03.jpg" alt="" />
                  </a>
                  <div class="caption">
                    <h3>潮T</h3>
                    <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                    <ul class="actions">
                      <li><span class="button small">Details</span></li>
                    </ul>
                  </div>
                </article>
                <article>
                  <a href="images/gallery/fulls/04.jpg" class="image">
                    <img src="images/posters.jpg" alt="" />
                  </a>
                  <div class="caption">
                    <h3>海報</h3>
                    <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                    <ul class="actions">
                      <li><span class="button small">Details</span></li>
                    </ul>
                  </div>
                </article>
                <article>
                  <a href="images/gallery/fulls/05.jpg" class="image">
                    <img src="images/phone.jpg" alt="" />
                  </a>
                  <div class="caption">
                    <h3>手機殼</h3>
                    <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                    <ul class="actions">
                      <li><span class="button small">Details</span></li>
                    </ul>
                  </div>
              </div> -->

          </section>


        <!-- Seven -->
          <section class="wrapper style1 align-center">
            <div class="inner medium">
              <h2>聯絡我們</h2>
              <h4>聯絡窗口：姚德謙先生</h4>
              <h4>電話：0988524378</h4>
              </form>

            </div>
          </section>

        <!-- Footer -->
          <footer class="wrapper style1 align-center">
            <div class="inner">
<!--               <ul class="icons">
                <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
              </ul>
 -->              <p>&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP, FanTime</a>.</p>
            </div>
          </footer>

      </div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.scrollex.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>

  </body>
</html>